html,
body {
	width: 100%;
	height: 100%;
}
.main-section {
	background-image: url('../img/Layer 1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.message {
	width: 100%
}
img.site-logo {
    width: 910px;
    height: 100%;
}
img {
	max-width: 450px;
}